
h1 {
  text-align: right;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  color: #80CBC4;
  padding: 5px;
}

h2 {
  text-align: center;
  font-size: 3vw;
  font-family: 'Poiret One', cursive;
  margin: 0;
  color: #80CBC4;
  padding: 10px;
  word-break: normal;

}

h3{
  text-align: right;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  color: #004D40;
  font-size: 50px;
  margin: 0;
  padding: 5px;
}

hr {
  background-color: #F8BBD0;
  border:none;
  height:5px;
  width: 100%;
}

body{
  padding:10px;
}

img {
  opacity: 1;
  margin: 0;
  display: block;
  max-width: 100%;
  height:auto;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #880E4F;
  text-align: center;
  font-size: 1.2vw;
  text-decoration:none;
  word-wrap: break-word;
}

.container{
margin: auto;
height: 100%;
width:100%;
}

.row {
  display: flex;
  width: 100%;
}

.row::after {
  display: block;
  clear: both;
  height: auto;
}

.threeImages {
  height:auto;
  width: 95%;
  max-width: 100%;
}

.centerLink{
  text-align: center;
}

.col-1 {width: 8.33%};
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#featuredWork{
    text-align: left;
    color: #FF80AB;
    font-size: 35px;
}

#arizonaTeaImage{
  margin:0px;
  padding:0px;
  max-width: 100%;
  display: block;
  height: auto;
}

#firstRow{
    max-height: 200px;
}

#letterJIcon {
  max-width: auto;
  height: 100%;
  float: left;
}

#leaves
* {
  box-sizing: border-box;
}


@media only screen and (max-width: 767px) {

   h2 { 
      font-size: 20px; 
   }
    
    h1{
        font-size: 40px;
    }
    
    h3{
        font-size: 25px;
    }
    
    #letterJIcon {
        width: 100px;
        height: auto;
    }
}

